/* .container {
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.row {
    display: flex;
}

.cell {
    background-color: gray;
    height: 46px;
    width: 46px;
    border: 1px solid black;
}

button {
    display: flex;
    justify-content: center;
}

.newGrid {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 */

.grid-container {
    width: 800px;
    height: 800px;
    display: flex;  
    flex-wrap: wrap;
}

.grid-cell {
    flex-grow: 1;
    border: 1px solid black;
    box-sizing: border-box;
}

.green {
    background-color: green;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}